.idea/deploymentTargetSelector.xml
          .idea/misc.xml
          app/src/main/AndroidManifest.xml
          app/src/main/java/ao/co/isptec/aplm/binasjc_app/activity_dialog_return_bike.java
          bjc_springboot/src/main/resources/application.yml
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetSelector.xml
app/src/main/java/ao/co/isptec/aplm/binasjc_app/activity_home.java
base_de_dados/*.sql
bjc_springboot/src/main/java/com/lambdacode/spring/boot/crud/DAO/*.java
bjc_springboot/src/main/java/com/lambdacode/spring/boot/crud/controller/*.java
bjc_springboot/src/main/java/com/lambdacode/spring/boot/crud/entity/*.java
bjc_springboot/src/main/resources/application.yml

