.idea/deploymentTargetSelector.xml
          .idea/misc.xml
          app/src/main/AndroidManifest.xml
          app/src/main/java/ao/co/isptec/aplm/binasjc_app/activity_dialog_return_bike.java
          bjc_springboot/src/main/resources/application.yml
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


