<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
=======
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

>>>>>> 0a3234d9a30b3fd94a97fa4e7e8fd636f8ce4dc4

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BinasJC_app"
        tools:targetApi="31">
        <activity
            android:name=".activity_bike_list"
        />
        =======
            android:exported="false" />
        <activity
            android:name=".activity_list_chat"
            android:exported="false" />
        <activity
            android:name=".activity_chat"
            android:exported="false" />
        <activity
            android:name=".Map"
/>
>>>>> 0a3234d9a30b3fd94a97fa4e7e8fd636f8ce4dc4
            android:exported="false" />
        <activity
            android:name=".activity_dialog_reservation_bike"
            android:exported="false" />
        <activity
            android:name=".activity_dialog_return_bike"
            android:exported="false" />
        <activity
            android:name=".activity_reservation_history"
            android:exported="false" />
        <activity
            android:name=".activity_traject_history"
            android:exported="false" />
        <activity
            android:name=".activity_point_history"
            android:exported="false" />
        <activity
            android:name=".activity_dialog_logout"
            android:exported="false" />
        <activity
            android:name=".activity_Dialog_Share"
            android:exported="false" />
        <activity
            android:name=".activity_station"
            android:exported="false" />
        <activity
            android:name=".activity_edit_sign"
            android:exported="false" />
        <activity
            android:name=".activity_sign"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="false" />
        <activity
            android:name=".activity_main"
            android:exported="false" />
        <activity
            android:name=".activity_profile"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOhPQlw1lYHv_f39O6xSsVqnEIg1wtqNw" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>